        <footer class="footer">
                <div class="container">
                        <div class="row">
                                <div class="col-md-6 col-xs-6">
                                        <h5 id="copyright"><i class="fa fa-copyright"></i> JPC WebDev 2017</h5>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                        <a id="contact-link" href="/contact">Contact</a>
                                </div>
                        </div>
                </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.0.0.js"></script> 
        <script src="/scripts/frontend.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>