<% include ./partials/header %>

<div class="container">
    <div class="page-header">
        <h1>About<small> Me</small></h1>
    </div>
    <p>
        Hi, my name is John. My quest to provide great websites to those in need started with my own love for technology and the web. 
        
    </p>
    <p>
        I strive to offer my clients the utmost respect and attention they deserve. I bring with me an 
        expansive and lifelong background in IT, programming, and most importantly for you - web development. If you are a startup, budding business, 
        simply looking to get an online footprint, or perhaps you just need someone to help make 
        changes to an existing website, please feel free to reach out to me and we can talk about what you are looking for.
    </p>
    <a href="mailto:johnclancy@outlook.com" id="about-contact">Contact Me</a>
</div>

<% include ./partials/footer %>