<% include ./partials/header %>

<div class="container">
    <div class="well">
        <h1>Contact</h1>
        <hr>
        <!--<p>Phone: 888-888-8888</p>-->
        <p>Email: <a href="mailto:johnclancy@outlook.com">johnclancy@outlook.com</a></p>
    </div>
</div>

<% include ./partials/footer %>