<% include ./partials/header %>

<div class="container">
    <div class="page-header" id="home-fade">
        <h1>JPC WebDev<small> Your last stop</small></h1>
    </div>
    <h2 id="h2-1">Need a modern, responsive, and functional website?</h2>
    <h2 id="h2-2">Do you care about quality work?</h2>
    <h2 id="h2-3">
        See how JPC WebDev can help jumpstart your growing business online presence, or 
        get that portfolio page you always wanted.
    </h2>
    <a href="/services" id="home-anchor"><button class="btn btn-default btn-lg" id="home-btn">What you need >>></button></a>
</div>

<% include ./partials/homeFooter %>