<% include ./partials/header %>

<div class="container">
    <div class="page-header">
        <h1>Portfolio<small> My work</small></h1>
    </div>
    <ul>
        <li>
            <a class="portfolio-links" href="https://fathomless-oasis-34110.herokuapp.com/">YelpCamp</a>
        </li>
        <li>
            <a class="portfolio-links" href="https://marias-etsy-website.herokuapp.com/">ERC Handmade</a>
        </li>
    </ul>
</div>

<% include ./partials/footer %>