<% include ./partials/header %>

<div class="container">
    <div class="page-header">
        <h1>Services<small> What you need</small></h1>
    </div>
    <p>
        I offer the following services 
    </p>
    <ul>
        <li>Web Development</li>
        <li>Website Maintenance</li>
        <li>Website Management</li>
    </ul>
    <div class="row">
        <div class="col-md-4">
            <label id="dev-label">Web Development</label>
            <div class="thumbnail" id="dev-thumb">
                <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-md-4">
            <label id="maint-label">Web Maintenance</label>
            <div class="thumbnail" id="maint-thumb">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-md-4">
            <label id="man-label">Web Management</label>
            <div class="thumbnail" id="man-thumb">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>