html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Oswald";
    font-size: 2.0em;
    letter-spacing: 1px;
    background-color: #68A6ED;
    margin-bottom: 50px;
    color: #222;
}

h1 {
    font-size: 6.0em;
}

h1 small {
    color: white;
}

label {
    opacity: 0;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: #68A6ED;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #68A6ED;
}

.navbar-inverse .navbar-brand {
    color: #68A6ED;
}

.page-header {
    border-bottom: 1px solid black;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*Set the fixed height of the footer here*/
    height: 50px;
    background-color: #222;
    color: white;
}

/*.well {*/
/*    background-color: #222;*/
/*    color: #68A6ED;*/
/*    border: none;*/
/*}*/

.portfolio-links {
    color: #222;
    font-size: 1.5em;
}

.thumbnail {
    height: 250px;
    text-align: center;
    padding-top: 50px;
    border: 1px solid black;
    background-color: #68A6ED;
}

.thumbnail:hover {
    background-color: #fff;
    transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
}

.glyphicon {
    font-size: 6em;
    color: #222;
}

.col-md-4 {
    text-align: center;
}

.services-content {
    margin-top: 100px;
}

.services-hr {
    opacity: 0;
    border-top-color: #222;
}

.services-p {
    opacity: 0;
}

.container .text-muted {
    margin: 10px 0;
    color: #fff;
}

.text-muted-anchor {
    color: #fff;
}

#copyright {
    color: #68A6ED;
    margin-top: 18px;
}

#contact-link {
    margin-top: 10px;
    display: inline-block;
}

#about-contact {
    color: #222;
    margin-top: 20px;
    display: inline-block;
}

#home-btn {
    margin-top: 100px;
    height: 300px;
    width: 100%;
    vertical-align: middle;
    font-size: 3em;
    border-width: 2px;
    border-color: #222;
    background-color: #68A6ED;
    color: #222;
}

#home-btn:hover {
    background-color: #fff;
    transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
}



/*======================================================*/
/*======================================================*/
/*======================================================*/
#home-fade {
    opacity: 0;
}

#h2-1 {
    opacity: 0;
}

#h2-2 {
    opacity: 0;
}

#h2-3 {
    opacity: 0;
}

#home-anchor {
    opacity: 0;
}

@media (max-width: 767px) {
    body {
        margin-bottom: 80px;
    }
    
    .footer {
        height: 80px;
    }
}